SECRET_KEY=temp_dev_key_only_for_local_use_85774364890

POSTGRES_USER=marefiya_user
POSTGRES_PASSWORD=z5agi4c9sbqBu
POSTGRES_DB=marefiya_db

DB_HOST=db 
DB_PORT=5432

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=z5agi4c9sbqBu

UID=1000 
GID=1000


ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0, michotmarefia.com

DJANGO_DEBUG=True

DATABASE_URL=postgres://marefiya_user:z5agi4c9sbqBu@db:5432/marefiya_db




CHAPA_SECRET_KEY=secret_key_here

CHAPA_WEBHOOK_SECRET=webhook_secret_here
CHAPA_CALLBACK_URL=callback_url_here

CHAPA_ENCRYPTION_KEY=encryption_key_here
CHAPA_PUBLIC_KEY=public_key_here
FRONTEND_URL=http://localhost:5173/
CHAPA_BASE_URL=https://api.chapa.co/v1/
CHAPA_ENV=test



AFRO_MESSAGE_TOKEN=token_here

AFRO_MESSAGE_IDENTIFIER_ID=id_here

AFRO_MESSAGE_SENDER_NAME='Mechot Marefiya'


EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=michotitsolution@gmail.com
EMAIL_HOST_PASSWORD=rhci fcgq zgie tfey
DEFAULT_FROM_EMAIL=Michot Marefiya <michotitsolution@gmail.com>
REQUIRE_GUEST_BOOKING_OTP=True
BOOKING_FORWARD_WINDOW_DAYS=5

# Google Demo Key
GOOGLE_MAPS_API_KEY=key_here
MAP_PROVIDER=geoapify
GEOAPIFY_API_KEY=Key_here
GEOAPIFY_GEOCODING_URL=https://api.geoapify.com/v1/geocode/search
GEOAPIFY_REVERSE_GEOCODING_URL=https://api.geoapify.com/v1/geocode/reverse
GEOAPIFY_AUTOCOMPLETE_URL=https://api.geoapify.com/v1/geocode/autocomplete
GEOAPIFY_PLACE_DETAIL_URL=https://api.geoapify.com/v2/place-details
