SECRET_KEY=temp_dev_key_only_for_local_use_85774364890

POSTGRES_USER=marefiya_user
POSTGRES_PASSWORD=z5agi4
POSTGRES_DB=marefiya_db

DB_HOST=db 
DB_PORT=5432

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=z5agi4

UID=1000 
GID=1000


ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0, michotmarefia.com

DJANGO_DEBUG=True

DATABASE_URL=postgres://marefiya_user:z5agi4@db:5432/marefiya_db


CHAPA_SECRET_KEY=CHASECK-evaZmm59sVu6rsr1CCuNTrPKbsUUuxze
CHAPA_WEBHOOK_SECRET=48d4631e35ae83f9a2dd80b2a0c8da49e856416b014206be086ff36c9e09ee15
CHAPA_CALLBACK_URL=https://dbf6-196-188-161-167.ngrok-free.app/api/v1/payment/callback/chapa/
FRONTEND_URL=http://localhost:5173/

AFRO_MESSAGE_TOKEN=
AFRO_MESSAGE_URL=
AFRO_MESSAGE_IDENTIFIER_ID=
AFRO_MESSAGE_SENDER_NAME=
AFRO_MESSAGE_TIMEOUT_SECONDS=30
SMS_ERROR_LOG_FILE=logs/sms.log


EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=michotitsolution@gmail.com
EMAIL_HOST_PASSWORD=rhci fcgq zgie tfey
DEFAULT_FROM_EMAIL=Michot Marefiya <michotitsolution@gmail.com>
