SECRET_KEY=change-me
DEBUG=True
DJANGO_SETTINGS_MODULE=config.settings.dev

POSTGRES_USER=marefiya_user
POSTGRES_PASSWORD=change-me
POSTGRES_DB=marefiya_db
DB_HOST=db
DB_PORT=5432
DATABASE_URL=postgres://marefiya_user:change-me@db:5432/marefiya_db

REDIS_URL=redis://redis:6379/1
CELERY_BROKER_URL=redis://redis:6379/0

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change-me

UID=1000
GID=1000

ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,michotmarefia.com
CSRF_TRUSTED_ORIGINS=http://localhost:5173,https://michotmarefia.com

CHAPA_SECRET_KEY=change-me
CHAPA_WEBHOOK_SECRET=change-me
CHAPA_CALLBACK_URL=https://example.com/api/v1/payment/callback/chapa/
FRONTEND_URL=http://localhost:5173/
CHAPA_BASE_URL=https://api.chapa.co/v1/
CHAPA_ENV=test

AFRO_MESSAGE_TOKEN=change-me
AFRO_MESSAGE_IDENTIFIER_ID=change-me
AFRO_MESSAGE_SENDER_NAME=Mechot Marefiya

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=change-me
EMAIL_HOST_PASSWORD=change-me
DEFAULT_FROM_EMAIL=Michot Marefiya <noreply@example.com>

REQUIRE_GUEST_BOOKING_OTP=True
BOOKING_FORWARD_WINDOW_DAYS=5

MAP_PROVIDER=geoapify
GEOAPIFY_API_KEY=change-me
GEOAPIFY_GEOCODING_URL=https://api.geoapify.com/v1/geocode/search
GEOAPIFY_REVERSE_GEOCODING_URL=https://api.geoapify.com/v1/geocode/reverse
GEOAPIFY_AUTOCOMPLETE_URL=https://api.geoapify.com/v1/geocode/autocomplete
GEOAPIFY_PLACE_DETAIL_URL=https://api.geoapify.com/v2/place-details
